@import "tailwindcss";

@theme {
  --color-primary: #82b091;
  --color-primary-dark: #659475;
  --color-background-main: #FFFFFF;
  --color-background-sidebar: #F9FAFB;
  --color-text-header: #111827;
  --color-text-body: #374151;

  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply font-display text-text-body antialiased bg-background-main;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.nav-item-active {
  @apply bg-primary text-white shadow-md shadow-primary/20;
}
